
  <header class="app-header">
    <div class="container px-4 py-3 flex items-center gap-3">
      <div class="flex items-center gap-3">
        <span class="text-2xl">🍸</span>
        <h1 class="text-xl font-bold select-none">Cocktailz</h1>
      </div>


      <nav class="ml-auto flex items-center gap-3">
        <a routerLink="/" class="text-white transition hover:opacity-80 select-none">Inicio</a>
        <button class="btn btn-primary" (click)="onRandom()">🎲 Random Cocktail</button>
      </nav>
    </div>
  </header>

<main class="container px-4" style="padding-block: 2rem;">
  <router-outlet />
</main>

